* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    overflow: hidden;
}

body {
    font-size: 10px;
    background: #271312;
    color: white;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100px;
}

nav img{
    margin-top: 30px;
    margin-left: 1px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 250px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-left: 70px;
}

nav ul li a:hover {
    opacity: .6;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 500px 2fr;
    margin-left: 10px;
    margin-top: 40px;
}

.main-content {
    margin-left: 130px;
    margin-right: 900px;
    margin-top: 135px;
}

.main-content-h1 {
    font-size: 60px;
    margin-bottom: -18px;
}

.main-content-h2 {
    font-weight: 600;
    font-size: 50px;
    color: #FF4C59;
    margin-bottom: 20px;S
}

.main-content-p{
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
}



.main-price {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 19px;
}

.btn {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 190px;
    height: 52px;
    background: linear-gradient(90deg, #D97548 -8.04%, rgba(138, 53, 16, 0.79) 113.69%);
    color: white;
    padding-top: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.cta:hover {
    opacity: .6;
}

.main-img img {
    margin-left: 1px;
    margin-top: 5px;
    width: 600px;
    height: 640px;
    position: absolute;
}

@media only screen and (max-width: 576px){
    nav img{
        width: auto;
        margin-top: 9px;
        margin-left: 40px;
    }

    .main {
        display: inline-block;
        align-items: center;
        grid-template-columns: 400px 1fr;
        margin-left: 30px;
        margin-top: 20px;
    }

    .main-content {
        margin-top: 320px;
        margin-left:30px;
        margin-right: 10px;
    }

    .main-content-h1 {
        font-size: 55px;
        margin-bottom: -18px;
    }
    
    .main-content-h2 {
        font-weight: 600;
        font-size: 40px;
        color: #FF4C59;
        margin-bottom: 20px;
    }
    
    .main-content-p{
        font-size: 15px;
        margin-top: 10px;
        width: 80%;
    }
    
    
    
    .main-price {
        font-size: 25px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 19px;
    }

    .btn {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 170px;
    height: 50px;
    background: linear-gradient(90deg, #D97548 -8.04%, rgba(138, 53, 16, 0.79) 113.69%);
    color: white;
    padding-top: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
    }

    .main-img img {
        margin-left: 0px;
        margin-top: 2px;
        margin-bottom: 20px;
        width: 326px;
        height: 326px;
    }
}